#date{
  text-align: center;
}

.weather{
  margin-right: 50px;
  width: 600px;
  margin: auto;
  height: 24em;
}

.mdl-card__title-text{
  padding-left: 100px;
}

.mdl-card__media.img{
  background-color: transparent;
  padding-left: 20px;
  height: 95px;
}

#span1{
  width: 160px;
  float: left;
}


#image{
  height: 75px;
}

figcaption{
  display: inline-block;
}

#high{
  float: right;
  padding-right: 50px;
}

#low{
  text-align: right;
  padding-right: 55px;
}

#span2{
  width: 160px;
}

#humidity h6, #windSpeed h6{
  text-align: center;
}


div#target {
  margin: auto;
  width:720px;
  float: left;
}

.newsTitle .mdl-card__title-text{
  padding: 0;
}

.newsImg {
  width: 330px;
}
