#date{
  text-align: center;
}

.weather.card.small{
  margin-right: 50px;
  width: 300px;
  margin: auto;
  height: 18em;
}

.card-title{
  padding-left: 3em;
}

.card .card-image img#image{
  background-color: transparent;
  margin:auto;
  height: 95px;
  width: 40%;
}

#span1{
  width: 160px;
  float: left;
}


#image{
  height: 75px;
}

figcaption{
  display: inline-block;
  text-align: center;
}

#high{
  float: right;
  padding-right: 50px;
}

#low{
  text-align: right;
  padding-right: 55px;
}

#span2{
  width: 160px;
}

#humidity h6, #windSpeed h6{
  text-align: center;
}


div#target {
  margin: auto;
  width:720px;
  float: left;
}


.newsImg {
  width: 330px;
}
